{% extends "lab_4/layout/base.html" %}

{% block content %}
<h1>Portfolio</h1>
<center><img src="https://lh3.googleusercontent.com/2W72JifpI8jCM8QIW34QRvu-MwHVQkgxrEUEkkOuGM84VQ_szbfXd8-_jcps6F2I4ctLZk7birMP2Ok=w1919-h905-rw" width="150px" height="150px" class="img-circle"></center>
<p>Farah Alhaniy Efendi</p>
<hr/>
<section name="bio">
    <h2>Bio</h2>
    <p>
        {{content}}
    </p>
</section>
<hr/>
<section name="about_me">
    <h2>List</h2>
    <ul>
        {% for ii in about_me %}
        <li> {{ ii }} </li>
        {% endfor %}
    </ul>
</section>
<hr/>
<section name="form">
    <h2>Send Message</h2>
    <form id="form" method="POST" action="{% url 'lab-4:add_message' %}">
        {% csrf_token %}
        {{ message_form }}
        <br>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</section>
{% endblock %}
